{% extends "core/base.html"%}

{% block titulo %}BIENVENIDA{% endblock %}

{% block estilos %}

<style>

</style>

{% endblock %}

{% block contenido %}

<div class="container mt-5">
    <h1>Libros Favoritos</h1>
    <hr>
</div>
<div class='row'>
        <div class='container col-5 align-content-center justify-content-center'>
            <h3>Todos Tus Libros Favoritos</h3>
            <hr>
            {% for book in favorite_books %}
            <p> <strong>Libro: </strong>{{book.title}}</a></p>
            <p> <strong>Subido por: </strong>{{book.uploaded_by.nombre}} {{book.uploaded_by.apellido}}</p>
            <hr>
            {% endfor %}
        </div>
</div>


{% endblock %}